* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 
  px ensure to use the rem for better responsive design
  */
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
}

:root {
  /* colors */

  --font-color: #ffffff;
  --delete: #dc2626;
  --edit: #0284c7;
  --save: #16a34a;
  --shadow: #0000;

  /* gradient */

  --background: linear-gradient(to bottom right, #a855f7, #38bdf8);
}

/* main container style */
.main-container {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
  position: absolute;
}

/* title style */
.main-container .head-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-shadow: 3px 3px #5e5e5e;
  padding: 20px 0 30px;
  color: var(--font-color);
}

/* table style */
.main-container .table-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.table-section .table-container {
  background-color: var(--font-color);
  padding: 1.1rem;
  border-radius: 10px;
}

.table-head {
  font-size: 1.1rem;
  text-transform: uppercase;
  height: 3rem;
  border-radius: 5px;
}

.table-head tr th {
  background-color: #bfdbfe;
  padding: 0 3.5rem;
}
.table-head tr th:first-child {
  border-radius: 8px 0 0 8px;
}
.table-head tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table-body {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.table-body tr td {
  border-bottom: 1px solid #b3b2b2;
  padding: 1rem;
}

.table-body i {
  font-size: 1.2rem;
  cursor: pointer;
}
.table-body .fa-pen-to-square {
  color: var(--edit);
}

.table-body .fa-trash {
  color: var(--delete);
}

.deactive {
  opacity: 0.4;
  pointer-events: none;
}

.table-body .fa-floppy-disk {
  color: var(--save);
}

/* footer style */
.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

/* input style */

input {
  padding: 0 10px;
  border: 2px solid #3b82f6;
  outline: none;
  border-radius: 2px;
  font-size: 0.8rem;
  width: 10rem;
}
input:focus {
  border-color: #06b6d4;
}

/* responsive design */
@media (max-width: 1100px) {
  html {
    font-size: 15px;
  }
  .table-head tr th {
    padding: 0 3rem;
  }
  input {
    width: 8rem;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .table-head tr th {
    padding: 0 2rem;
  }
  input {
    width: 6rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .table-head tr th {
    padding: 0 1rem;
  }
  input {
    width: 6rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
  .table-head {
    font-size: 1rem;
  }
  .main-container .head-title {
    font-size: 1.6rem;
  }
  .table-body {
    font-size: 0.9rem;
  }
}
